[submodule "HeavyWork/YDock"]
	path = HeavyWork/YDock
	url = https://github.com/HeavyWork/YDock.git
[submodule "HeavyWork/VisualIcon"]
	path = HeavyWork/VisualIcon
	url = https://github.com/HeavyWork/VisualIcon.git
[submodule "HeavyWork/MetroRadiance"]
	path = HeavyWork/MetroRadiance
	url = https://github.com/HeavyWork/MetroRadiance.git
[submodule "Ruminoid.Trimmer"]
	path = Ruminoid.Trimmer
	url = https://github.com/Ruminoid/Trimmer.git
[submodule "Ruminoid.Dashboard"]
	path = Ruminoid.Dashboard
	url = https://github.com/Ruminoid/Dashboard.git
[submodule "Ruminoid.Common"]
	path = Ruminoid.Common
	url = https://github.com/Ruminoid/Common.git
[submodule "Ruminoid.Common.Renderer"]
	path = Ruminoid.Common.Renderer
	url = https://github.com/Ruminoid/Renderer.git
